[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pygame = "*"
pytest-flask = "*"
pytest-cov = "*"
codecov = "*"
"e1839a8" = {path = ".", editable = true}


[packages]

cylgame = "==1.6.*"


[requires]

python = "3.5"
